a {
	text-decoration: none;
}
html {
	color: #333;
	font-family: 微软雅黑;
	font-size: 16px;
}
img {
	border: 0;
	vertical-align: middle;
}
.comments {
	margin: 2em;
	padding: 1em;
	background: #ffc;
	border: 1px solid #993;
	color: #993;
}
